// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
colorCorpViolet = #2a3c98
colorCorpVioletHover = #25337a
colorCorpDark = #253031
colorCorpRed = #ea1d2a


// Size

tablet = '(max-width 1000px)'
phone = '(max-width 500px)'