.form-contacts
	max-width 450px
	text-align center
	margin 30px auto
	&__select
	&__input
	&__textarea
	&__option
		width 100%
		padding 10px
		margin 5px
		box-sizing border-box
		border 1px solid colorCorpViolet
	&__textarea
		height 120px
	&__button
		padding 10px 20px
		font-size 28px
		background colorCorpViolet
		color #fff