mixin b-contacts-box(items)
	+b.contacts-box
		+e.left
			+e.map
				+e.IFRAME(src=items.mapSrc).map-iframe
		+e.right

			+e.title= items.title_1
			+e.item_address
				+e.item_name= items.name_1
				+e.item_value= items.value_1

			each item in items.phones
				+e.item
					+e.item_name= item.name
					+e.item_value
						+e.A.link(href= item.href)= item.value


			+e.item_name= items.title_2
			each item in items.mails
				+e.item
					+e.item_value
						+e.A.link(href= item.href)= item.value

