.slider
	margin 0 auto
	text-align center
	&__item
		overflow hidden
		display -moz-inline-stack
		vertical-align top
	&__img
		max-width 100%
	&_about
		max-width 900px
		max-height 500px
		.slider
			&__item
				margin 10px
				max-height 160px
			&__item:focus
				border 0
	&_header
		margin-bottom 0
		position relative
		.slick-next
			right 25px
		.slick-prev
			left 25px
			z-index 1000
		.slider
			&__item
				width 100%
				position relative
			&__img
				width 100%
			&__text-box
				width 100%
				background rgba(0 0 0 .4)
				position absolute
				bottom 0
				right 0
				font-size 20px
				padding 50px 0
				color #fff
				font-style italic
		.slick-dots
			bottom 15px
			li button::before
				color #fff
				font-size 10px
				opacity .95
		.slick-dots
			li.slick-active button::before
				color #8B8682



@media phone
	.slider
		&_header
			.slider
				&__text-box
					display none