mixin b-gallery(items, classes)
	+b.gallery(class=classes)
		each item in items
			+e.item
				if item.src
					if item.text
						+e.text!= item.text
					+e.link(href=item.href rel="group")
						+e.img(src=item.src alt=item.alt)