.gallery_gallery
.gallery_loading-photo
.gallery_certificate
	text-align center
	margin-bottom 30px
	.gallery
		&__item
			display inline-block
			display -moz-inline-stack
			overflow hidden
			padding 10px
		&__img
			height 240px
.gallery_gallery
	margin-bottom 10px
	.gallery
		&__item
			width 270px
			height 200px

.gallery_scheme-aircraft
	text-align center
	.gallery
		&__item
			display inline-block
			width 45%
		&__img
			width 100%
		&__text
			font-size 25px


@media phone
	.gallery_loading-photo
		.gallery
			&__img
				height 200px