mixin b-footer()
	+b.footer
		.container
			+b(class="column _1")
				+e.item_1
					+b-logo()
				+e.item_2
					+e.item_name= footer.col_1.name
					+e.item_value= footer.col_1.value
				+e.item_3
					each item in footer.col_1.contacts
						+e.A(href= item.link, target="_blank").link_docs
							SPAN(class= item.icon)

			+b(class="column _2")
				+e.title= footer.col_2.title
				each item in footer.col_2.cert
					+e.item.gallery
						+e.item_name= item.name
						+e.item_value 
							+e.A(href= item.link).link= item.value

			+b(class="column _3")
				+e.title= footer.col_3.title

				each item in footer.col_3.contacts
					if item.link
						+e.item
							+e.item_name= item.name
							+e.item_value 
								+e.A.link(href= item.link)= item.value

			+b(class="column _4")
				+e.title= footer.col_4.title
				+e.item
					each item in footer.col_4.mail
						+e.item_value
							+e.A.link(href= item.link)= item.value