@require 'header/header.styl'
@require 'footer/footer.styl'
@require 'nav/nav.styl'
@require 'logo/logo.styl'
@require 'lang-swich/lang-swich.styl'
@require 'slider/slider.styl'
@require 'tile/tile.styl'
@require 'table/table.styl'
@require 'brief/brief.styl'
@require 'gallery/gallery.styl'
@require 'text-paragraph/text-paragraph.styl'
@require 'form-charter-fligts/form-charter-fligts.styl'
@require 'form-contacts/form-contacts.styl'
@require 'contacts-box/contacts-box.styl'
@require 'video/video.styl'