.nav
	*zoom 1
	*display inline
	&__item
		*zoom 1
		*display inline

.lang-swich
	*zoom 1
	*display inline
	&__item
		*zoom 1
		*display inline
	&__link
		display block

.about
	.tile
		&__item
			*zoom 1
			*display inline

.gallery
	.gallery
		&__item
			*zoom 1
			*display inline


.contacts
	.contacts-box
		&__left
			*zoom 1
			*display inline
		&__right
			*zoom 1
			*display inline
		&__item
			&_name
				*zoom 1
				*display inline
			&_value
				*zoom 1
				*display inline

.footer
	text-align justify
	.column
		*zoom 1
		*display inline
		width 24%