.form-charter-fligts
	max-width 450px
	text-align center
	margin 30px auto 0
	&__select
	&__input
	&__textarea
	&__option
		width 100%
		padding 10px
		margin 5px 0
		box-sizing border-box
		border 1px solid colorCorpViolet
	&__textarea
		height 120px
	&__button
		padding 10px 20px
		font-size 28px
		background colorCorpViolet
		color #fff
	.left-box
	.right-box
		width 49%
		display inline-block
		.region-title
		.airport-title
			text-align center
			font-weight bold
	&__select_region
	&__select_region
		text-align left
		overflow-y scroll
		height 150px
		font-size 20px
		&__item
			cursor pointer
			display block
			background #fff
			&:hover
				background #E6E6FA
		&__item.active
			background 	#E6E6FA
		&__name
			vertical-align 5px
		&__code
			vertical-align 5px
			padding-left 0px
			color #696969
		// &__radio
		// 	position absolute
		// 	z-index -1